SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# ログを1か月毎に /var/log/cron_yyyymm.logに cat してから空にする
0 0 1 * * /bin/bash -c 'cat /var/log/cron.log >> /var/log/cron_$(date +\%Y\%m).log && : > /var/log/cron.log'

# コアタイムチェック（月曜から金曜）
0 9 * * 1-5  bash -c 'echo "[START] $(date)" >> /var/log/cron.log && curl -X GET http://host.docker.internal:8889/api/core-time/check/1 >> /var/log/cron.log 2>&1 && echo "" >> /var/log/cron.log && echo "[END] $(date)" >> /var/log/cron.log && echo "" >> /var/log/cron.log'
0 11 * * 1-5 bash -c 'echo "[START] $(date)" >> /var/log/cron.log && curl -X GET http://host.docker.internal:8889/api/core-time/check/2 >> /var/log/cron.log 2>&1 && echo "" >> /var/log/cron.log && echo "[END] $(date)" >> /var/log/cron.log && echo "" >> /var/log/cron.log'
30 13 * * 1-5 bash -c 'echo "[START] $(date)" >> /var/log/cron.log && curl -X GET http://host.docker.internal:8889/api/core-time/check/3 >> /var/log/cron.log 2>&1 && echo "" >> /var/log/cron.log && echo "[END] $(date)" >> /var/log/cron.log && echo "" >> /var/log/cron.log'
15 15 * * 1-5 bash -c 'echo "[START] $(date)" >> /var/log/cron.log && curl -X GET http://host.docker.internal:8889/api/core-time/check/4 >> /var/log/cron.log 2>&1 && echo "" >> /var/log/cron.log && echo "[END] $(date)" >> /var/log/cron.log && echo "" >> /var/log/cron.log'
0 16 * * 1-5  bash -c 'echo "[START] $(date)" >> /var/log/cron.log && curl -X GET http://host.docker.internal:8889/api/core-time/check/5 >> /var/log/cron.log 2>&1 && echo "" >> /var/log/cron.log && echo "[END] $(date)" >> /var/log/cron.log && echo "" >> /var/log/cron.log'
