SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# ログを1か月毎に /var/log/cron_yyyymm.logに cat してから空にする
0 0 1 * * /bin/bash -c 'cat /var/log/cron.log >> /var/log/cron_$(date +\%Y\%m).log && : > /var/log/cron.log'

# 毎日0時に入室状況をリセット
0 0 * * * bash -c 'bin/reset_status.sh'

# コアタイムチェック（月曜から金曜）
16 9 * * 1-5 bash -c '/bin/check_core_time.sh 1'
1 11 * * 1-5 bash -c '/bin/check_core_time.sh 2'
31 13 * * 1-5 bash -c '/bin/check_core_time.sh 3'
16 15 * * 1-5 bash -c '/bin/check_core_time.sh 4'
1 16 * * 1-5 bash -c '/bin/check_core_time.sh 5'
